<Config>
  <BindAddress>*</BindAddress>
  <Port>7878</Port>
  <SslPort>7879</SslPort>
  <EnableSsl>True</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>1c045abec8dc4fe790ef249e3f5439d3</ApiKey>
  <AuthenticationMethod>Basic</AuthenticationMethod>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <Branch>master</Branch>
  <LogLevel>info</LogLevel>
  <SslCertPath>/certs/server.pfx</SslCertPath>
  <SslCertPassword>0123456789</SslCertPassword>
  <UrlBase>/radarr</UrlBase>
  <InstanceName>Radarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
  <AnalyticsEnabled>False</AnalyticsEnabled>
</Config>